<span style="color: #008000;">-- 1</span>

<span style="color: #008000;">-- Explain the difference between the UNION ALL and UNION operators</span>

<span style="color: #008000;">-- In what cases are they equivalent?</span>

<span style="color: #008000;">-- When they are equivalent, which one should you use?</span>

<span style="font-size: 16px; white-space: pre-wrap;">The UNION ALL operator combines two query result sets without removing duplicates, while the UNION operator removes duplicates from the result. When duplicates are not possible, they have the same meaning, such as when combining disjoint sets. To avoid unnecessary performance overhead when duplicates are not present, it's best to use UNION ALL by default.</span>

In [ ]:
-- 2
-- Write a query that generates a virtual auxiliary table of 10 numbers
-- in the range 1 through 10
-- Tables involved: no table

In [3]:
SELECT 1 as n
UNION ALL SELECT 2
UNION ALL SELECT 3
UNION ALL SELECT 4
UNION ALL SELECT 5
UNION ALL SELECT 6
UNION ALL SELECT 7
UNION ALL SELECT 8
UNION ALL SELECT 9 
UNION ALL SELECT 10

n
1
2
3
4
5
6
7
8
9
10

```
-- 3
-- Write a query that returns customer and employee pairs 
-- that had order activity in January 2016 but not in February 2016
-- Tables involved: TSQLV4 database, Orders table
```

In [9]:
USE TSQLV4

SELECT custid, empid
FROM Sales.Orders
WHERE orderdate >= '20160101' AND ORDERDATE < '20160201'

EXCEPT 

SELECT custid, empid 
FROM Sales.Orders
WHERE orderdate >= '20160201' AND orderdate < '20160301'

custid,empid
1,1
3,3
5,8
5,9
6,9
7,6
9,1
12,2
16,7
17,1
20,7
24,8
25,1
26,3
32,4
38,9
39,3
40,2
41,2
42,2
44,8
47,3
47,4
47,8
49,7
55,2
55,3
56,6
59,8
63,8
64,9
65,3
65,8
66,5
67,5
70,3
71,2
75,1
76,2
76,5
80,1
81,1
81,3
81,4
82,6
84,1
84,3
84,4
88,7
89,4

```
-- 4
-- Write a query that returns customer and employee pairs 
-- that had order activity in both January 2016 and February 2016
-- Tables involved: TSQLV4 database, Orders table
```

In [14]:
SELECT custid, empid
FROM sales.Orders
WHERE orderdate >= '20160101' AND orderdate < '20160201'

INTERSECT 

SELECT custid, empid
FROM sales.Orders
WHERE orderdate >= '20160201' AND orderdate < '20160301'

custid,empid
20,3
39,9
46,5
67,1
71,4

```
-- 5
-- Write a query that returns customer and employee pairs 
-- that had order activity in both January 2016 and February 2016
-- but not in 2015
-- Tables involved: TSQLV4 database, Orders table
```

In [15]:
SELECT custid, empid 
FROM sales.orders
WHERE orderdate >= '20160101' and orderdate < '20160201'

INTERSECT 

SELECT custid, empid 
FROM sales.Orders
WHERE orderdate >= '20160201' and orderdate < '20160301'

EXCEPT 

SELECT custid, empid 
FROM Sales.Orders
WHERE orderdate >= '20150101' and orderdate < '20160101'

custid,empid
46,5
67,1

```
-- 6 (Optional, Advanced)
-- You are given the following query:
```

In [18]:
SELECT country, region, city
FROM HR.Employees

UNION ALL

SELECT country, region, city
FROM Production.Suppliers
ORDER BY country, region, city;

country,region,city
Australia,NSW,Sydney
Australia,Victoria,Melbourne
Brazil,NULL,Sao Paulo
Canada,Québec,Montréal
Canada,Québec,Ste-Hyacinthe
Denmark,NULL,Lyngby
Finland,NULL,Lappeenranta
France,NULL,Annecy
France,NULL,Montceau
France,NULL,Paris
Germany,NULL,Berlin
Germany,NULL,Cuxhaven
Germany,NULL,Frankfurt
Italy,NULL,Ravenna
Italy,NULL,Salerno
Japan,NULL,Osaka
Japan,NULL,Tokyo
Netherlands,NULL,Zaandam
Norway,NULL,Sandvika
Singapore,NULL,Singapore
Spain,Asturias,Oviedo
Sweden,NULL,Göteborg
Sweden,NULL,Stockholm
UK,NULL,London
UK,NULL,London
UK,NULL,London
UK,NULL,London
UK,NULL,London
UK,NULL,Manchester
USA,LA,New Orleans
USA,MA,Boston
USA,MI,Ann Arbor
USA,OR,Bend
USA,WA,Kirkland
USA,WA,Redmond
USA,WA,Seattle
USA,WA,Seattle
USA,WA,Tacoma